@keyframes slideIn {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.animation-slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
}
