/* Reset styles for all elements */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0; /* Reset margins to zero */
  padding: 0; /* Reset padding to zero */
  box-sizing: border-box; /* Use border-box box-sizing for consistent sizing */
}

/* Reset styles for unordered lists */
ul {
  margin: 0; /* Reset margin for unordered lists */
  padding: 0; /* Reset padding for unordered lists */
  list-style: none; /* Remove list markers (bullet points) */
}

/* Reset styles for heading and paragraph elements */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; /* Reset margin for headings and paragraphs */
  padding: 0; /* Reset padding for headings and paragraphs */
}

/* Color Variables */
/* Primary brand color */
/* Secondary background color */
/* Overall background color */
/* Standard gray text color */
/* Secondary gray color */
/* White color for elements */
/* Fonts */
/* Import the 'Playfair Display' font family with various styles and weights */
/* Import the 'Ubuntu' font family with various styles and weights */
/* Typography styles */
/* Define font family for various heading elements */
h1, h2, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/* Styles for h1 elements */
h1 {
  font-size: 48px;
  font-weight: 700;
}

/* Styles for h2 elements */
h2 {
  font-size: 24px;
  font-weight: 700;
}

/* Styles for h3 elements */
h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Styles for h4 elements */
h4 {
  font-size: 20px;
  font-weight: 700;
}

/* Styles for paragraph elements */
p {
  line-height: 175%;
}

/* Body styles */
body {
  background: #0f0f0f;
  font-family: "Ubuntu", sans-serif;
}

/* Apply white text color to all elements */
* {
  color: #fff;
}

/* Styles for the Main content area */
main {
  padding-left: 102px; /* Add left padding to the main content */
}
main > section {
  display: none; /* Initially hide all sections */
  padding-right: 32px;
  padding-left: 32px;
  /* Add top padding to sections other than "home" */
}
main > section:not(#home) {
  padding-top: 64px;
}
main > section.active {
  display: block; /* Display active section */
  /* Styles for sections with a background image header */
  /* Styles for custom section headers */
}
main > section.active header.has-bg {
  position: relative;
  display: inline-flex;
  /* Position the header image */
}
main > section.active header.has-bg img {
  position: absolute;
  top: 15px;
  left: -72px;
}
main > section.active header.custom {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
  /* Styles for the underline element */
  /* Styles for the section title */
}
main > section.active header.custom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1E1E20;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
main > section.active header.custom h2 {
  display: inline-block;
  padding: 0 24px;
  background: #0f0f0f;
}

/* Styles for custom buttons */
/* Styles for the blue custom button */
.btn-custom-blue, .btn-custom-dark {
  display: inline-block;
  position: relative;
  background: #262F48;
  padding: 10px 52px;
  text-decoration: none;
  color: #658DF2;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  border: none;
  transition: all 0.3s;
  /* Pseudo-element to create a circular background effect */
  /* Hover state styles for the button */
}
.btn-custom-blue:before, .btn-custom-dark:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #658DF2;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover, .btn-custom-dark:hover {
  color: #fff;
  /* Scale up the circular background on hover */
}
.btn-custom-blue:hover:before, .btn-custom-dark:hover:before {
  transform: translate(-50%, -50%) scale(3);
}

/* Styles for the dark custom button that extends the blue button */
.btn-custom-dark {
  /* Extend the styles from .btn-custom-blue */
  background: #1E1E20; /* Change the background color for the dark button */
}

/* Styles for the Sidebar */
#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  /* Apply a blur filter when the sidebar has the "blur" class */
  /* Styles for the toggle sidebar button */
  /* Styles for the logo section within the sidebar */
  /* Styles for the navigation section within the sidebar */
  /* Styles for the toggle mode section within the sidebar */
}
#sidebar.blur {
  filter: blur(2px);
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  background: #1E1E20;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
  /* Styles for navigation links */
}
#sidebar nav ul li a {
  position: relative;
  /* Hover effect on navigation links */
  /* Styles for the "before" pseudo-element */
  /* Styles for active navigation links */
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658DF2;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i, #sidebar nav ul li a.active span {
  color: #658DF2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
  /* Styles for the outer mode toggle button */
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1E1E20;
  border-radius: 24px;
  /* Styles for the inner mode toggle button */
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  width: 14px;
  height: 14px;
  background: #658DF2;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  /* Styles for the before pseudo-element of the inner button */
}
#sidebar .toggle-mode .outer .inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #1E1E20;
  top: -4px;
  left: 3px;
  border-radius: 50%;
}

/* Styles for the Home section */
#home {
  /* Set a background image with specific properties */
  background-image: url(../Images/Graphics/Background-shape.png);
  background-repeat: no-repeat;
  background-position: 30vw 50px;
  /* Styles for the header with class 'has-bg' */
  /* Styles for the information section */
  /* Styles for the image section */
  /* Styles for the meteor shower animation */
}
#home header.has-bg {
  margin-bottom: 32px;
}
#home .info {
  padding-top: 280px;
  /* Styles for the circular profile image */
  /* Styles for the main heading */
  /* Styles for individual field items */
  /* Styles for paragraph text */
  /* Styles for social media links section */
}
#home .info img.person-circle {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
  /* Styles for the gray-colored span within the heading */
}
#home .info h1 span {
  color: #B6B7BA;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  /* Styles for the field title */
  /* Styles for the field value */
}
#home .info .field h2 {
  color: #B6B7BA;
  margin: 0;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 130px;
  margin-bottom: 24px;
  /* Styles for the list of social media links */
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Styles for individual social media items */
}
#home .info .socials ul li {
  margin-right: 8px;
  /* Styles for social media link anchors */
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
  /* Hover styles for social media links */
  /* Styles for the social media icon */
  /* Styles for the social media link text */
}
#home .info .socials ul li a:hover {
  background: #1E1E20;
  border-radius: 6px;
  /* Color changes on hover */
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: #fff;
}
#home .info .socials ul li a i {
  font-size: 18px;
  margin-right: 8px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #808185;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Styles for the image within the section */
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
  /* Hover effect on the image */
}
#home .image img:hover {
  filter: saturate(200%) sepia(1);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  /* Loop to create multiple meteor elements with random properties */
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 80vh;
  left: 16vw;
  animation: meteor 3237ms linear infinite;
  animation-delay: 3338ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 11vh;
  left: 67vw;
  animation: meteor 4772ms linear infinite;
  animation-delay: 1548ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 79vh;
  left: 74vw;
  animation: meteor 4545ms linear infinite;
  animation-delay: 490ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 16vh;
  left: 45vw;
  animation: meteor 6315ms linear infinite;
  animation-delay: 1389ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 54vh;
  left: 37vw;
  animation: meteor 4655ms linear infinite;
  animation-delay: 398ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 79vh;
  left: 66vw;
  animation: meteor 4659ms linear infinite;
  animation-delay: 931ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 39vh;
  left: 16vw;
  animation: meteor 4613ms linear infinite;
  animation-delay: 4941ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 76vh;
  left: 16vw;
  animation: meteor 7088ms linear infinite;
  animation-delay: 1172ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 41vh;
  left: 39vw;
  animation: meteor 3915ms linear infinite;
  animation-delay: 1107ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 44vh;
  left: 41vw;
  animation: meteor 6540ms linear infinite;
  animation-delay: 2226ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 7vh;
  left: 28vw;
  animation: meteor 7622ms linear infinite;
  animation-delay: 3721ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 23vh;
  left: 55vw;
  animation: meteor 4482ms linear infinite;
  animation-delay: 704ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 75vh;
  left: 45vw;
  animation: meteor 6164ms linear infinite;
  animation-delay: 2260ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 60vh;
  left: 64vw;
  animation: meteor 3264ms linear infinite;
  animation-delay: 665ms;
}
#home .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../Images/Graphics/Meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 7vh;
  left: 8vw;
  animation: meteor 4376ms linear infinite;
  animation-delay: 4840ms;
}

/* Styles for the About Me section */
#about_me {
  /* Add a bottom margin to create space between sections */
  margin-bottom: 175px;
  /* Set a background image and configure its properties */
  background-image: url(../Images/Graphics/Background-shape.png);
  background-repeat: no-repeat;
  background-position: 68vw 63vh;
  /* Ensure a minimum height to fill the viewport */
  min-height: 100vh;
  /* Styles for various subsections within About Me */
  /* Styles for elements with class .custom within certain sections */
  /* Styles for elements with class .custom within .back-end and .front-end sections */
  /* Styles for the .hero section */
  /* Styles for the rating stars section */
  /* Styles for rows within the About Me section */
  /* Styles for programming skills, operating systems, tools, and code editors sections */
  /* Styles for the certificates section */
}
#about_me .key-skills .custom h2 i, #about_me .languages .custom h2 i, #about_me .programming-skills .custom h2 i, #about_me .tech-stack .custom h2 i, #about_me .operating-systems .custom h2 i, #about_me .tools .custom h2 i, #about_me .code-editors .custom h2 i, #about_me .devops .custom h2 i, #about_me .certificates .custom h2 i {
  /* Adjust margins and font size for nested icons */
  margin-left: 20px;
  margin-right: -5px;
  font-size: 30px;
}
#about_me .back-end .custom h2 i, #about_me .front-end .custom h2 i {
  /* Adjust margins and font size for nested icons */
  margin-left: 0px;
  margin-right: 15px;
  font-size: 30px;
}
#about_me .hero {
  /* Styles for the image within .hero */
  /* Styles for the information within .hero */
}
#about_me .hero .image img {
  /* Add border radius and transition effect for images */
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
  /* Apply a filter effect on hover */
}
#about_me .hero .image img:hover {
  filter: saturate(200%) sepia(1);
}
#about_me .hero .info {
  /* Styles for items within .items */
  /* Styles for buttons within .buttons */
}
#about_me .hero .info header {
  /* Add margins to the header for spacing */
  margin-bottom: 48px;
  margin-top: 32px;
}
#about_me .hero .info h2 {
  /* Set color and margin for h2 elements */
  color: #B6B7BA;
  margin-bottom: 16px;
}
#about_me .hero .info p {
  /* Define maximum width and color for paragraphs */
  max-width: 560px;
  color: #B6B7BA;
}
#about_me .hero .info .items {
  margin-top: 30px;
  margin-bottom: 48px;
  font-size: 16px;
  /* Styles for individual items within .items */
}
#about_me .hero .info .items .item {
  display: flex;
  margin-bottom: 16px;
  /* Styles for the value and icon within .item */
  /* Styles for about me icons */
  /* Hover effect for about me icons */
}
#about_me .hero .info .items .item .value {
  color: #B6B7BA;
  margin-left: 4px;
}
#about_me .hero .info .items .item i {
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 5.5px;
  background: rgba(255, 255, 255, 0.05);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  flex-shrink: 0;
  transition: all 0.3s;
}
#about_me .hero .info .items .item:hover i {
  background: #658DF2;
}
#about_me .hero .info .buttons {
  display: inline-flex;
  flex-wrap: wrap;
  /* Add margin to the first child of .buttons */
}
#about_me .hero .info .buttons a:first-child {
  margin-right: 24px;
}
#about_me .rate {
  display: flex;
  /* Styles for individual star elements */
}
#about_me .rate span {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
  /* Add right margin to separate stars */
  /* Star shapes with before and after pseudo-elements */
  /* Styles for half-filled stars */
  /* Styles for fully-filled stars */
}
#about_me .rate span:not(:last-child) {
  margin-right: 12px;
}
#about_me .rate span:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #1E1E20;
  transform: rotate(40deg);
}
#about_me .rate span:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #1E1E20;
  transform: rotate(50deg);
}
#about_me .rate span.half-fill:after {
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
  transform: rotate(45deg);
  background: #658DF2;
}
#about_me .rate span.fill:before, #about_me .rate span.fill:after {
  background: #658DF2;
}
#about_me .row {
  /* Add spacing to the top and bottom of rows */
  margin-top: 25px;
  margin-bottom: 25px;
  /* Styles for key skills and languages sections */
  /* Styles for skills and languages sections */
}
#about_me .row .key-skills {
  padding-right: 16px;
}
#about_me .row .languages {
  padding-left: 16px;
}
#about_me .row .skills .key-skills, #about_me .row .skills .languages, #about_me .row .languages-outer .key-skills, #about_me .row .languages-outer .languages {
  margin-top: 64px;
  margin-bottom: 50px;
  /* Styles for items within skills and languages sections */
}
#about_me .row .skills .key-skills .items, #about_me .row .skills .languages .items, #about_me .row .languages-outer .key-skills .items, #about_me .row .languages-outer .languages .items {
  margin-bottom: 43px;
  /* Styles for individual items */
}
#about_me .row .skills .key-skills .items .item, #about_me .row .skills .languages .items .item, #about_me .row .languages-outer .key-skills .items .item, #about_me .row .languages-outer .languages .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
  /* Add margin to separate items */
  /* Styles for item information */
}
#about_me .row .skills .key-skills .items .item:not(:last-child), #about_me .row .skills .languages .items .item:not(:last-child), #about_me .row .languages-outer .key-skills .items .item:not(:last-child), #about_me .row .languages-outer .languages .items .item:not(:last-child) {
  margin-bottom: 32px;
}
#about_me .row .skills .key-skills .items .item .info h3, #about_me .row .skills .languages .items .item .info h3, #about_me .row .languages-outer .key-skills .items .item .info h3, #about_me .row .languages-outer .languages .items .item .info h3 {
  margin-bottom: 12px;
}
#about_me .row .skills .key-skills .items .item .info .level, #about_me .row .skills .languages .items .item .info .level, #about_me .row .languages-outer .key-skills .items .item .info .level, #about_me .row .languages-outer .languages .items .item .info .level {
  color: #B6B7BA;
}
#about_me .programming-skills .items, #about_me .operating-systems .items, #about_me .tools .items, #about_me .code-editors .items, #about_me .devops .items, #about_me .back-end .items, #about_me .front-end .items {
  /* Negative margins to create spacing between items */
  margin-left: -20px;
  margin-right: -20px;
  /* Styles for individual items */
}
#about_me .programming-skills .items .item, #about_me .operating-systems .items .item, #about_me .tools .items .item, #about_me .code-editors .items .item, #about_me .devops .items .item, #about_me .back-end .items .item, #about_me .front-end .items .item {
  position: relative;
  text-align: center;
  padding: 32px 8px;
  background: #28282b;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  /* Hover effect to reveal pseudo-elements */
  /* Styles for before and after pseudo-elements */
  /* Styles for images, headings, and rating elements */
}
#about_me .programming-skills .items .item:hover:before, #about_me .programming-skills .items .item:hover:after, #about_me .operating-systems .items .item:hover:before, #about_me .operating-systems .items .item:hover:after, #about_me .tools .items .item:hover:before, #about_me .tools .items .item:hover:after, #about_me .code-editors .items .item:hover:before, #about_me .code-editors .items .item:hover:after, #about_me .devops .items .item:hover:before, #about_me .devops .items .item:hover:after, #about_me .back-end .items .item:hover:before, #about_me .back-end .items .item:hover:after, #about_me .front-end .items .item:hover:before, #about_me .front-end .items .item:hover:after {
  transform: translate(0, 0);
}
#about_me .programming-skills .items .item:before, #about_me .operating-systems .items .item:before, #about_me .tools .items .item:before, #about_me .code-editors .items .item:before, #about_me .devops .items .item:before, #about_me .back-end .items .item:before, #about_me .front-end .items .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(100%, -100%);
  transition: all 0.6s;
}
#about_me .programming-skills .items .item:after, #about_me .operating-systems .items .item:after, #about_me .tools .items .item:after, #about_me .code-editors .items .item:after, #about_me .devops .items .item:after, #about_me .back-end .items .item:after, #about_me .front-end .items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
}
#about_me .programming-skills .items .item img, #about_me .operating-systems .items .item img, #about_me .tools .items .item img, #about_me .code-editors .items .item img, #about_me .devops .items .item img, #about_me .back-end .items .item img, #about_me .front-end .items .item img {
  margin-bottom: 21px;
}
#about_me .programming-skills .items .item h3, #about_me .operating-systems .items .item h3, #about_me .tools .items .item h3, #about_me .code-editors .items .item h3, #about_me .devops .items .item h3, #about_me .back-end .items .item h3, #about_me .front-end .items .item h3 {
  margin-right: 10px;
  margin-bottom: 8px;
}
#about_me .programming-skills .items .item .rate, #about_me .operating-systems .items .item .rate, #about_me .tools .items .item .rate, #about_me .code-editors .items .item .rate, #about_me .devops .items .item .rate, #about_me .back-end .items .item .rate, #about_me .front-end .items .item .rate {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about_me .certificates {
  margin-top: 64px;
  /* Styles for items within certificates section */
}
#about_me .certificates .items {
  padding-top: 25px;
}
#about_me .certificates .items .item img {
  width: 100%;
  transition: all 0.3s;
  /* Hover effect to scale the image */
}
#about_me .certificates .items .item img:hover {
  transform: scale(1.1);
}

/* Styles for the My Resume section */
#my_resume {
  margin-bottom: 125px;
  /* Set a background image with specific properties */
  background-image: url(../Images/Graphics/Background-shape.png);
  background-repeat: no-repeat;
  background-position: 42vw 31vh;
  /* Styles for the header with class 'has-bg' */
  /* Styles for the education and experience sections */
  /* Styles for the items within education and experience */
  /* Styles for the education section */
  /* Styles for the experience section */
}
#my_resume header.has-bg {
  margin-bottom: 64px;
}
#my_resume .education, #my_resume .experience {
  /* Styles for the "custom" class within education and experience */
}
#my_resume .education .custom, #my_resume .experience .custom {
  /* Styles for the "h2" element within "custom" */
}
#my_resume .education .custom h2, #my_resume .experience .custom h2 {
  /* Styles for the "i" element within "h2" */
}
#my_resume .education .custom h2 i, #my_resume .experience .custom h2 i {
  margin-left: 20px;
  margin-right: -5px;
  font-size: 30px;
}
#my_resume .items {
  /* Styles for individual item elements */
}
#my_resume .items .item {
  display: flex;
  /* Margin between items, except for the last one */
  /* Styles for the last item */
  /* Hover styles for items */
  /* Styles for the icon within an item */
  /* Styles for the box within an item */
}
#my_resume .items .item:not(:last-child) {
  margin-bottom: 42px;
}
#my_resume .items .item.last {
  /* Color changes for specific elements */
}
#my_resume .items .item.last .icon i,
#my_resume .items .item.last .box .title {
  color: #658DF2;
}
#my_resume .items .item:hover .icon,
#my_resume .items .item:hover .icon:before {
  background: rgba(11, 44, 128, 0.4);
}
#my_resume .items .item:hover .box {
  background: transparent;
  /* Styles for box elements before and after */
}
#my_resume .items .item:hover .box:before {
  border-right-color: rgba(11, 44, 128, 0.4);
}
#my_resume .items .item:hover .box:after {
  width: 100%;
}
#my_resume .items .item .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.0509803922);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 46px;
  margin-top: 23px;
  transition: all 0.3s;
  /* Styles for a line before the icon */
}
#my_resume .items .item .icon:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 126px;
  background: #1E1E20;
  top: 82px;
  transition: all 0.3s;
}
#my_resume .items .item .box {
  position: relative;
  padding: 32px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 8px;
  text-align: left;
  z-index: 1;
  flex-grow: 1;
  transition: all 0.3s;
  /* Styles for elements before and after the box */
  /* Styles for the year, title, and description within the box */
}
#my_resume .items .item .box:before {
  content: "";
  position: absolute;
  border-right: 9px solid rgba(30, 30, 32, 0.75);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  left: -9px;
  top: 36px;
}
#my_resume .items .item .box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: rgba(11, 44, 128, 0.4);
  z-index: -1;
  transition: all 0.3s;
}
#my_resume .items .item .box .year {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
#my_resume .items .item .box .title {
  margin-bottom: 16px;
}
#my_resume .items .item .box p {
  font-size: 18px;
  font-weight: 400;
  color: #B6B7BA;
  max-width: 345px;
}
#my_resume .education {
  padding-right: 34px;
}
#my_resume .experience {
  padding-left: 34px;
}

/* Styles for the My Work section */
#my_work {
  margin-bottom: 100px;
  /* Apply a blur filter when the section has the "blur" class */
  /* Styles for the filter buttons section */
  /* Styles for the work items section */
}
#my_work.blur {
  filter: blur(2px);
}
#my_work .filters {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 55px;
  /* Styles for filter buttons */
}
#my_work .filters button {
  background: transparent;
  color: #808185;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
  /* Styles for the active filter button */
}
#my_work .filters button.active {
  color: #fff;
  background: #1E1E20;
  border-radius: 8px;
}
#my_work .work-items {
  /* Styles for individual work item elements */
}
#my_work .work-items .item {
  margin-bottom: 24px;
  /* Styles for the item container */
}
#my_work .work-items .item .wrap {
  position: relative;
  overflow: hidden;
  /* Hover effect on work items */
  /* Styles for the "before" pseudo-element */
  /* Styles for the "after" pseudo-element */
  /* Styles for the work item image */
}
#my_work .work-items .item .wrap:hover {
  /* Styles for the "before" pseudo-element */
  /* Styles for the "after" pseudo-element */
}
#my_work .work-items .item .wrap:hover:before {
  transform: rotate(0deg);
}
#my_work .work-items .item .wrap:hover:after {
  transform: translate(-50%, -50%) rotate(0deg);
}
#my_work .work-items .item .wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(101, 141, 242, 0.6);
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  transform: rotate(-100deg);
  transform-origin: top left;
  transition: all 0.3s;
}
#my_work .work-items .item .wrap:after {
  content: "View";
  position: absolute;
  width: 96%;
  height: 95%;
  background: rgba(15, 15, 15, 0.8);
  border-radius: 8px;
  transform-origin: bottom left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(100deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 3px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}
#my_work .work-items .item .wrap img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* Styles for the work modal */
.modal#workModal .modal-dialog {
  max-width: 863px;
}
.modal#workModal .modal-dialog .modal-content {
  background: #1E1E20;
  padding: 32px;
}
.modal#workModal .modal-dialog .modal-content .modal-body {
  padding: 0;
  position: static;
  /* Styles for the close button in the modal */
  /* Styles for images within the modal */
  /* Styles for the left content within the modal */
  /* Styles for the right content within the modal */
}
.modal#workModal .modal-dialog .modal-content .modal-body .modal-close-button {
  position: absolute;
  right: -23px;
  top: -23px;
  background: #0f0f0f;
  font-size: 22px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
}
.modal#workModal .modal-dialog .modal-content .modal-body .modal-close-button:hover {
  background: #0b2c80;
}
.modal#workModal .modal-dialog .modal-content .modal-body img {
  width: 100%;
  height: 532px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.modal#workModal .modal-dialog .modal-content .modal-body .left {
  padding-left: 0;
  padding-right: 32px;
}
.modal#workModal .modal-dialog .modal-content .modal-body .left h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}
.modal#workModal .modal-dialog .modal-content .modal-body .left p {
  color: #B6B7BA;
}
.modal#workModal .modal-dialog .modal-content .modal-body .right {
  padding-right: 0;
  padding-left: 32px;
  padding-top: 75px;
  /* Styles for value text */
  /* Styles for project links */
}
.modal#workModal .modal-dialog .modal-content .modal-body .right i {
  font-size: 18px;
  margin-right: 2px;
}
.modal#workModal .modal-dialog .modal-content .modal-body .right .value {
  color: #B6B7BA;
}
.modal#workModal .modal-dialog .modal-content .modal-body .right .project-link {
  margin-top: 16px;
  /* Styles for links and icons */
  /* Hover effect on links */
}
.modal#workModal .modal-dialog .modal-content .modal-body .right .project-link a,
.modal#workModal .modal-dialog .modal-content .modal-body .right .project-link i {
  color: #658DF2;
  text-decoration: none;
}
.modal#workModal .modal-dialog .modal-content .modal-body .right .project-link a:hover {
  text-decoration: underline;
}

/* Styles for the Testimonial section */
#testimonial {
  background-image: url(../Images/Graphics/Background-shape.png);
  background-repeat: no-repeat;
  background-position: 60vw 40vh;
  min-height: 100vh;
  /* Styles for the main section within the Testimonial section */
}
#testimonial .main-section {
  /* Styles for the images of individuals */
  /* Styles for the comments section */
}
#testimonial .main-section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 6px;
  /* Styles for individual image elements */
}
#testimonial .main-section .images img {
  width: 68px;
  height: 68px;
  margin-right: 16px;
  margin-left: 16px;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 16px;
  transition: opacity 0.3s, filter 0.3s;
  /* Hover effect for images */
  /* Styles for the active image */
}
#testimonial .main-section .images img:hover {
  opacity: 1;
  filter: saturate(150%) sepia(0.5);
}
#testimonial .main-section .images img.active {
  width: 90px;
  height: 90px;
  opacity: 1;
}
#testimonial .main-section .comments {
  text-align: center;
  /* Styles for individual comment items */
}
#testimonial .main-section .comments .item {
  display: none;
  /* Styles for active comment items */
}
#testimonial .main-section .comments .item.active {
  margin-bottom: 100px;
  display: inline-block;
  /* Styles for the comment box */
  /* Styles for the writer information */
}
#testimonial .main-section .comments .item.active .box {
  position: relative;
  background: #28282b;
  padding: 32px;
  border-radius: 8px;
  /* Styles for the triangle shape above the comment box */
  /* Styles for the comment text */
}
#testimonial .main-section .comments .item.active .box:before {
  content: "";
  position: absolute;
  border-bottom: 9px solid #28282b;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}
#testimonial .main-section .comments .item.active .box p {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  max-width: 710px;
  animation: scaleUp 1.25s;
  /* Styles for a special span within the comment text */
}
#testimonial .main-section .comments .item.active .box p span {
  font-size: 86px;
  color: #658DF2;
  line-height: 0;
  vertical-align: -33px;
}
#testimonial .main-section .comments .item.active .writer {
  margin-top: 32px;
  margin-bottom: 16px;
  animation: scaleUp 1.25s;
  /* Styles for individual fields in the writer information */
}
#testimonial .main-section .comments .item.active .writer span.field {
  color: #808185;
  /* Styles for quotes span within the writer information */
  /* Styles for the company name within the writer information */
}
#testimonial .main-section .comments .item.active .writer span.field span.quotes {
  font-family: "Playfair Display", serif;
  color: #658DF2;
  font-size: 32px;
  line-height: 0;
  vertical-align: -6px;
}
#testimonial .main-section .comments .item.active .writer span.field span.company-name {
  color: #FFFFFF;
}

/* Styles for the Contact Me section */
#contact_me {
  /* Set a background image with specific properties */
  background-image: url(../Images/Graphics/Background-shape.png);
  background-repeat: no-repeat;
  background-position: 53vw 574px;
  min-height: 100vh;
  /* Styles for the container within Contact Me */
}
#contact_me .container {
  /* Center-align text content */
  /* Styles for the contact form */
  /* Styles for contact information */
}
#contact_me .container .text-center {
  padding-bottom: 100px;
}
#contact_me .container .form {
  padding-right: 69px;
  /* Styles for form items */
}
#contact_me .container .form .form-item {
  position: relative;
  margin-bottom: 32px;
  /* Focus state styles */
  /* Styles for form item lines */
  /* Styles for form item lines (on focus) */
  /* Styles for form item labels */
  /* Styles for input and textarea elements */
  /* Styles for textarea */
}
#contact_me .container .form .form-item.focus label {
  top: -3px;
  font-size: 12px;
}
#contact_me .container .form .form-item.focus:after {
  width: 100%;
}
#contact_me .container .form .form-item:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #808185;
  bottom: 0;
  left: 0;
}
#contact_me .container .form .form-item:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
#contact_me .container .form .form-item label {
  position: absolute;
  top: 17px;
  color: #808185;
  transition: all 0.3s;
}
#contact_me .container .form .form-item input,
#contact_me .container .form .form-item textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 16px 0;
}
#contact_me .container .form .form-item textarea {
  resize: none;
  min-height: 171px;
}
#contact_me .container .info {
  padding-top: 32px;
  padding-left: 69px;
  /* Styles for individual contact items */
}
#contact_me .container .info .item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  /* Hover effect for contact icons */
  /* Styles for contact icons */
  /* Styles for contact text content */
}
#contact_me .container .info .item:hover i {
  background: #658DF2;
}
#contact_me .container .info .item i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  font-size: 18px;
  margin-right: 16px;
  transition: all 0.3s;
}
#contact_me .container .info .item .text {
  /* Styles for contact item titles */
  /* Styles for contact links */
}
#contact_me .container .info .item .text .title {
  color: #B6B7BA;
}
#contact_me .container .info .item .text a {
  display: block;
  color: #fff;
  text-decoration: none;
}

/* Media query for screens with a minimum width of 1400px */
@media (min-width: 1400px) {
  .container {
    max-width: 1200px; /* Set max-width for the container */
  }
}
/* Media query for screens with a maximum width of 1199px */
@media (max-width: 1199px) {
  /* Styles for the About Me section */
  #about_me {
    /* Adjust styles for elements within the "languages" and "key-skills" sections */
    /* Styles for the hero section */
  }
  #about_me .languages .key-skills .item {
    padding-right: 12px;
  }
  #about_me .hero {
    /* Styles for buttons within the hero section */
  }
  #about_me .hero .info {
    padding-left: 48px;
  }
  #about_me .hero .container {
    padding-bottom: -40px; /* Negative padding for container */
    margin-bottom: -40px; /* Negative margin for container */
  }
  #about_me .hero .buttons a:first-child {
    margin-top: 16px;
  }
  #about_me .hero .buttons a:last-child {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  /* Styles for the My Resume section */
  #my_resume {
    /* Adjust margin for the .experience section */
  }
  #my_resume .experience {
    margin-top: 100px;
  }
  /* Styles for the Contact Me section */
  #contact_me .container {
    /* Adjust padding for the .form section */
    /* Adjust padding for the .info section */
  }
  #contact_me .container .form {
    padding-right: 12px;
  }
  #contact_me .container .info {
    padding-left: 12px;
  }
}
/* Media query for screens with a maximum width of 991px */
@media (max-width: 991px) {
  /* Styles for the Home section */
  #home {
    /* Adjust styles for the .image section */
    /* Adjust styles for the .info section */
  }
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #home .info {
    /* Adjust margin for the .socials section */
  }
  #home .info .socials {
    margin-top: 100px;
  }
  /* Styles for the About Me section */
  #about_me {
    /* Adjust margin for the .key-skills and .languages sections */
  }
  #about_me .hero {
    /* Adjust styles for the .image section */
    /* Adjust padding for the .info section */
  }
  #about_me .hero .image img {
    margin-left: -10px;
  }
  #about_me .hero .info {
    padding-left: 0px;
  }
  #about_me .container {
    /* Adjust margin for the row section */
    /* Adjust margin for the .tech-stack section */
  }
  #about_me .container .row {
    margin-bottom: 0px;
    /* Adjust margin for the .skills section */
    /* Adjust margin for the .languages-outer section */
  }
  #about_me .container .row .skills {
    /* Adjust margin for the .key-skills section */
  }
  #about_me .container .row .skills .key-skills {
    padding-right: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  #about_me .container .row .languages-outer {
    /* Adjust margin for the .languages section */
  }
  #about_me .container .row .languages-outer .languages {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #about_me .container .row {
    margin-top: 0px;
  }
  /* Styles for the My Resume section */
  #my_resume .experience {
    padding-left: 12px;
  }
  /* Styles for the work modal */
  .modal#workModal .modal-dialog .modal-content .modal-body {
    /* Adjust padding for the .right section */
    /* Adjust position for the close button in the modal */
  }
  .modal#workModal .modal-dialog .modal-content .modal-body .right {
    padding-left: 0px;
  }
  .modal#workModal .modal-dialog .modal-content .modal-body .modal-close-button {
    right: 10px;
    top: 10px;
  }
  /* Styles for the Contact Me section */
  #contact_me .container .info {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  #contact_me .container .info .item {
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
  }
  #contact_me .container .info .item i {
    margin-right: 0;
    margin-bottom: 8px;
  }
  #contact_me .container .info .item br {
    display: none;
  }
}
/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
  /* Styles for the Sidebar section */
  #sidebar {
    background: #0f0f0f;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
    /* Styles for the sidebar when it's open */
    /* Styles for the toggle-sidebar section */
    /* Styles for the logo section */
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a.active:before {
    opacity: 0;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  /* Styles for heading elements */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
    /* Adjust styles for the header image within a section with a background */
  }
  main > section header.has-bg img {
    left: -65px;
    top: 2px;
  }
  /* Styles for the Home section */
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
    /* Adjust styles for the .socials section */
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
  /* Styles for the About Me section */
  #about_me {
    /* Adjust styles for the .key-skills and .languages sections */
  }
  #about_me .hero .info .buttons {
    flex-direction: column;
  }
  #about_me .hero .info .buttons a {
    width: 100%;
    text-align: center;
  }
  #about_me .hero .info .buttons a:first-child {
    margin-bottom: 16px;
  }
  #about_me .key-skills .items .item h3, #about_me .languages .items .item h3 {
    padding-right: 16px;
  }
  /* Styles for the My Resume section */
  #my_resume {
    /* Adjust padding for the .education and .experience sections */
  }
  #my_resume .items .item {
    position: relative;
  }
  #my_resume .items .item .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -23px;
    z-index: 2;
    margin-top: 0;
    background: rgba(30, 30, 32, 0.75);
  }
  #my_resume .items .item .icon:before {
    display: none;
  }
  #my_resume .items .item .box:before {
    display: none;
  }
  #my_resume .education,
  #my_resume .experience {
    padding-right: 12px;
    padding-left: 12px;
  }
  /* Styles for the work modal with id "workModal" */
  .modal#workModal {
    /* Adjust styles for the .modal-dialog section */
  }
  .modal#workModal .modal-dialog .modal-content .modal-body {
    /* Adjust height for images within the modal */
    /* Adjust padding for the left content within the modal */
    /* Adjust padding and margin for the right content within the modal */
  }
  .modal#workModal .modal-dialog .modal-content .modal-body img {
    height: unset;
  }
  .modal#workModal .modal-dialog .modal-content .modal-body .left {
    padding-right: 0;
  }
  .modal#workModal .modal-dialog .modal-content .modal-body .right {
    padding-left: 0;
    padding-top: 32px;
  }
}
/* CSS Animations using Keyframes */
/* Animation for the "meteor" effect */
@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  15% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
/* Animation for the "slideIn" effect */
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Animation for the "scaleUp" effect */
@keyframes scaleUp {
  0% {
    transform: scale(0) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
/* CSS class to apply the "slideIn" animation */
.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

/* CSS class to apply the "scaleUp" animation */
.scaleUp {
  animation: slideIn 1s ease-in-out forwards;
}/*# sourceMappingURL=Main.css.map */