@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #151516;
}

* {
  color: #fff;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
}
main > section.active {
  display: block;
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658DF2;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #658DF2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1E1E20;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  width: 14px;
  height: 14px;
  background: #658DF2;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
#sidebar .toggle-mode .outer .inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #1E1E20;
  top: -4px;
  left: 3px;
  border-radius: 50%;
}

#work {
  background: red;
}

#contact {
  background: black;
}

@media (max-width: 768px) {
  #sidebar {
    background: black;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  main {
    padding-left: 0;
    padding-top: 50px;
  }
}/*# sourceMappingURL=main.css.map */