@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #151516;
}

* {
  color: #fff;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
  padding-right: 114px;
  padding-left: 114px;
}
main > section.active {
  display: block;
}

.btn-custom-blue {
  display: inline-block;
  position: relative;
  background: #262F48;
  padding: 10px 52px;
  text-decoration: none;
  color: #658DF2;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.btn-custom-blue:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #658DF2;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover {
  background: white;
}
.btn-custom-blue:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: #353537;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658DF2;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #658DF2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1E1E20;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  width: 14px;
  height: 14px;
  background: #658DF2;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
#sidebar .toggle-mode .outer .inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #1E1E20;
  top: -4px;
  left: 3px;
  border-radius: 50%;
}

#home {
  background-image: url("../images/background-shape.png");
  background-repeat: no-repeat;
  background-position: 40vw -24px;
}
#home .info {
  padding-top: 281px;
}
#home .info img.person-circle {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #B6B7BA;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #B6B7BA;
  margin: 0px;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
}
#home .info .socials ul li a:hover {
  background: #1E1E20;
  border-radius: 6px;
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: white;
}
#home .info .socials ul li a i {
  font-size: 18px;
  margin-right: 8px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #808185;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  max-width: 100%;
  border-radius: 8px;
  transition: all 0.3s;
}
#home .image img:hover {
  filter: saturate(200%) sepia(1);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
#home .meteor-shower .meteor:nth-child(0) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 100vh;
  left: 91vw;
  animation: meteor-animation 3660ms linear infinite;
  animation-delay: 1195ms;
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 26vh;
  left: 63vw;
  animation: meteor-animation 5524ms linear infinite;
  animation-delay: 3997ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 5vh;
  left: 16vw;
  animation: meteor-animation 5687ms linear infinite;
  animation-delay: 2651ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 86vh;
  left: 67vw;
  animation: meteor-animation 5398ms linear infinite;
  animation-delay: 4755ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 22vh;
  left: 20vw;
  animation: meteor-animation 3034ms linear infinite;
  animation-delay: 4708ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 56vh;
  left: 68vw;
  animation: meteor-animation 7295ms linear infinite;
  animation-delay: 336ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 14vh;
  left: 81vw;
  animation: meteor-animation 4292ms linear infinite;
  animation-delay: 4736ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 1vh;
  left: 5vw;
  animation: meteor-animation 4871ms linear infinite;
  animation-delay: 4365ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 72vh;
  left: 44vw;
  animation: meteor-animation 3489ms linear infinite;
  animation-delay: 277ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 52vh;
  left: 83vw;
  animation: meteor-animation 3709ms linear infinite;
  animation-delay: 2494ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 44vh;
  left: 17vw;
  animation: meteor-animation 3400ms linear infinite;
  animation-delay: 1476ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 9vh;
  left: 86vw;
  animation: meteor-animation 4977ms linear infinite;
  animation-delay: 4724ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 13vh;
  left: 21vw;
  animation: meteor-animation 7496ms linear infinite;
  animation-delay: 2825ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 81vh;
  left: 86vw;
  animation: meteor-animation 3002ms linear infinite;
  animation-delay: 2693ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 61vh;
  left: 68vw;
  animation: meteor-animation 5042ms linear infinite;
  animation-delay: 2581ms;
}

@keyframes meteor-animation {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  20% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
#work {
  background: red;
}

#contact {
  background: black;
}

@media (max-width: 991px) {
  main > section {
    padding-right: 32px;
    padding-left: 32px;
  }
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: black;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
    padding-top: 50px;
  }
  main > section {
    padding-right: 32px;
    padding-left: 32px;
  }
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */