/* Styles for the About Me section */
#about_me {
    /* Add a bottom margin to create space between sections */
    margin-bottom: 175px;

    /* Ensure a minimum height to fill the viewport */
    min-height: 100vh;

    /* Styles for elements with class .custom within certain sections */
    .key-skills, .languages, .programming-skills, .tech-stack, .operating-systems, .tools, .code-editors, .devops, .certificates {
        .custom {
            /* Styles for the "h2" element within "custom" */
            h2 {
                transition: all 0.3s;

                /* Adjust margins and font size for nested icons */
                i {
                    margin-left: 20px;
                    margin-right: -5px;
                    padding-top: 9px;
                    padding-left: 1px;
                    padding-right: 1px;
                    font-size: 24px;
                    background: rgba(#ffffff, 0.05);
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                    flex-shrink: 0;
                    transition: all 0.3s;
                }
            }

            /* Hover effect for section before */
            &:before {
                transition: all 0.3s;
            }

            /* Hover effect for section after */
            &:after {
                transition: all 0.3s;
            }

            /* Hover effect for section icons */
            &:hover {
                h2 {
                    color: $primaryColor;
                }

                &:before, &:after, i {
                    background: $primaryColor;
                }
            }
        }
    }

    /* Styles for elements with class .custom within .back-end and .front-end sections */
    .back-end, .front-end {
        .custom {
            h2 {
                /* Adjust margins and font size for nested icons */
                i {
                    margin-left: 0px;
                    margin-right: 15px;
                    padding-top: 9px;
                    padding-left: 1px;
                    padding-right: 1px;
                    font-size: 24px;
                }
            }
        }
    }

    /* Styles for the .hero section */
    .hero {
        /* Styles for the image within .hero */
        .image {
            img {
                /* Add border radius and transition effect for images */
                border-radius: 8px;
                max-width: 100%;
                transition: all 0.3s;

                /* Apply a filter effect on hover */
                &:hover {
                    transform: scale(1.03);
                    filter: saturate(200%) sepia(1);
                }
            }
        }

        /* Styles for the information within .hero */
        .info {
            header {
                /* Add margins to the header for spacing */
                margin-bottom: 48px;
                margin-top: 32px;
            }

            h2 {
                /* Set margin for h2 elements */
                margin-bottom: 16px;
            }

            h2, i {
                color: $grayColor;
                transition: all 0.3s;

                &:hover {
                    color: $primaryColor;

                    i {
                        color: $primaryColor;
                    }
                }
            }

            p {
                /* Define maximum width and color for paragraphs */
                max-width: 560px;
                color: $grayColor;
            }

            /* Styles for items within .items */
            .items {
                margin-top: 30px;
                margin-bottom: 48px;
                font-size: 16px;

                /* Styles for individual items within .items */
                .item {
                    display: flex;
                    margin-bottom: 16px;

                    /* Styles for the value and icon within .item */
                    .value {
                        color: $grayColor;
                        margin-left: 4px;
                    }

                    /* Styles for about me icons */
                    i {
                        margin-right: 10px;
                        padding-top: 5px;
                        padding-left: 5.5px;
                        background: rgba(#ffffff, 0.05);
                        width: 26px;
                        height: 26px;
                        font-size: 16px;
                        border-radius: 100%;
                        flex-shrink: 0;
                        transition: all 0.3s;
                    }

                    /* Hover effect for about me icons */
                    &:hover {
                        i {
                            background: $primaryColor;
                        }
                    }
                }
            }

            /* Styles for buttons within .buttons */
            .buttons {
                display: inline-flex;
                flex-wrap: wrap;

                /* Add margin to the first child of .buttons */
                a:first-child {
                    margin-right: 24px;
                }
            }
        }
    }

    /* Styles for the rating squares section */
    .rate {
        display: flex;

        /* Styles for individual square elements */
        span {
            position: relative;
            display: flex;
            width: 15px;
            height: 15px;

            /* Add right margin to separate squares */
            &:not(:last-child) {
                margin-right: 12px;
            }

            /* Star shapes with before and after pseudo-elements */
            &:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                background: $secondaryColor;
                transform: rotate(40deg);
                padding-top: 6px;
                padding-left: 1px;
                padding-right: 1px;
                font-size: 30px;
                flex-shrink: 0;
                transition: all 0.3s;
            }

            /* Styles for half-filled squares */
            &:after {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                background: $secondaryColor;
                transform: rotate(50deg);
            }

            /* Styles for half-filled squares */
            &.half-fill {
                &:after {
                    clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
                    transform: rotate(45deg);
                    background: $primaryColor;
                }
            }

            /* Styles for fully-filled squares */
            &.fill {
                &:before,
                &:after {
                    background: $primaryColor;
                }
            }

            /* Hover effect for rating squares */
            &:hover {
                /* Styles for all pseudo-elements */
                &:before,
                &:after {
                    background: lighten(rgba($primaryColor, 75%), 10%);
                    animation: scaleUpAndRotate 0.3s;
                }

                /* Styles for half-filled squares */
                &.half-fill {
                    &:before,
                    &:after {
                        clip-path: none;
                        background: lighten(rgba($primaryColor, 75%), 10%);
                        animation: scaleUpAndRotate 0.3s;
                    }
                }
            }
        }
    }

    /* Styles for rows within the About Me section */
    .row {
        /* Add spacing to the top and bottom of rows */
        margin-top: 25px;
        margin-bottom: 25px;

        /* Styles for key skills and languages sections */
        .key-skills {
            padding-right: 16px;
        }

        .languages {
            padding-left: 16px;
        }

        /* Styles for skills and languages sections */
        .skills, .languages-outer {
            .key-skills, .languages {
                margin-top: 64px;
                margin-bottom: 50px;

                /* Styles for items within skills and languages sections */
                .items {
                    background-color: rgba(lighten($secondaryColor, 4%), 0.6);
                    border-radius: 8px;
                    position: relative;
                    padding: 24px;
                    z-index: 1;
                    overflow: hidden;

                    /* Hover effect to reveal pseudo-elements */
                    &:hover {
                        &:before,
                        &:after {
                            transform: translate(0, 0);
                        }
                    }

                    /* Styles for before pseudo-elements */
                    &:before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: rgba(darken($primaryColor, 40%), 0.6);
                        left: 0;
                        top: 0;
                        border-radius: 8px;
                        z-index: -1;
                        transform: translate(100%, -100%);
                        transition: all 0.6s;
                    }

                    /* Styles for after pseudo-elements */
                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: rgba(darken($primaryColor, 40%), 0.6);
                        left: 0;
                        top: 0;
                        border-radius: 8px;
                        z-index: -1;
                        transform: translate(-100%, 100%);
                        transition: all 0.6s;
                    }

                    /* Styles for individual items */
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        /* Add margin to separate items */
                        &:not(:last-child) {
                            margin-bottom: 32px;
                        }

                        /* Styles for item information */
                        .info {
                            h3 {
                                margin-bottom: 12px;
                            }

                            .level {
                                color: $grayColor;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Styles for programming skills, operating systems, tools, and code editors sections */
    .programming-skills, .operating-systems, .tools, .code-editors, .devops, .back-end, .front-end {
        .items {
            /* Negative margins to create spacing between items */
            margin-left: -20px;
            margin-right: -20px;

            /* Styles for individual items */
            .item {
                position: relative;
                text-align: center;
                padding: 32px 8px;
                background: rgba(lighten($secondaryColor, 4%), 0.6);
                margin-bottom: 16px;
                border-radius: 8px;
                z-index: 1;
                overflow: hidden;

                /* Hover effect to reveal pseudo-elements */
                &:hover {
                    &:before,
                    &:after {
                        transform: translate(0, 0);
                    }
                }

                /* Styles for before pseudo-elements */
                &:before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: darken($primaryColor, 40%);
                    left: 0;
                    top: 0;
                    border-radius: 8px;
                    z-index: -1;
                    transform: translate(100%, -100%);
                    transition: all 0.6s;
                }

                /* Styles for after pseudo-elements */
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: darken($primaryColor, 40%);
                    left: 0;
                    top: 0;
                    border-radius: 8px;
                    z-index: -1;
                    transform: translate(-100%, 100%);
                    transition: all 0.6s;
                }

                /* Styles for images, headings, and rating elements */
                img {
                    transition: all 0.3s;
                    margin-bottom: 21px;

                    &:hover {
                        transform: scale(1.20);
                    }
                }

                h3 {
                    margin-right: 10px;
                    margin-bottom: 8px;
                }

                .rate {
                    margin-top: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    /* Styles for the certificates section */
    .certificates {
        margin-top: 64px;

        /* Styles for items within certificates section */
        .items {
            padding-top: 25px;

            .item {
                img {
                    width: 100%;
                    transition: all 0.3s;

                    /* Hover effect to scale the image */
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
