#about_me {
    background-image: url(../Images/Background-shape.png);
    background-repeat: no-repeat;
    background-position: 60vw 50vh;
    min-height: 100vh;
    
    .hero {
        .image {
            img {
                border-radius: 8px;
                max-width: 100%;
                transition: all 0.3s;

                &:hover {
                    filter: saturate(200%) sepia(1);
                }
            }
        }

        .info {
            header {
                margin-bottom: 48px;
                margin-top: 32px;
            }

            h2 {
                color: $grayColor;
                margin-bottom: 16px;
            }

            p {
                max-width: 560px;
                color: $grayColor;
            }

            .items {
                margin-top: 30px;
                margin-bottom: 48px;

                .item {
                    display: flex;
                    margin-bottom: 16px;

                    .value {
                        color: $grayColor;
                        margin-left: 4px;
                    }
                }
            }

            .buttons {
                display: inline-flex;
                flex-wrap: wrap;

                a:first-child {
                    margin-right: 24px;
                }
            }
        }
    }

    .rate {
        display: flex;

        span {
            position: relative;
            display: flex;
            width: 15px;
            height: 15px;

            &:not(:last-child) {
                margin-right: 12px;
            }

            &:last-child {
                margin-right: 12px;
            }

            &:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                background: $secondaryColor;
                transform: rotate(40deg);
            }

            &:after {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 4px;
                background: $secondaryColor;
                transform: rotate(50deg);
            }

            &.half-fill {
                &:after {
                    clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
                    transform: rotate(45deg);
                    background: $primaryColor;
                }
            }

            &.fill {
                &:before,
                &:after {
                    background: $primaryColor;
                }
            }
        }
    }

    .row {
        .key-skills, .languages {
            margin-top: 126px;
            padding-left: 32px;
            padding-right: 32px;
            margin-bottom: 126px;

            .items {
                margin-bottom: 43px;

                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 43px;

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    .info {
                        h3 {
                            margin-bottom: 4px;
                        }

                        .level {
                            color: $grayColor;
                        }
                    }
                }
            }
        }
    }

    .row {
        .programming-skills {
            .items {
                margin-left: -20px;
                margin-right: -20px;

                .item {
                    position: relative;
                    text-align: center;
                    padding: 32px 8px;
                    background: $secondaryColor;
                    margin-bottom: 16px;
                    border-radius: 8px;
                    z-index: 1;
                    overflow: hidden;

                    &:hover {
                        &:before,
                        &:after {
                            transform: translate(0, 0);
                        }
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: darken($primaryColor, 40%);
                        left: 0;
                        top: 0;
                        border-radius: 8px;
                        z-index: -1;
                        transform: translate(100%, -100%);
                        transition: all 0.6s;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: darken($primaryColor, 40%);
                        left: 0;
                        top: 0;
                        border-radius: 8px;
                        z-index: -1;
                        transform: translate(-100%, 100%);
                        transition: all 0.6s;
                    }

                    img {
                        margin-bottom: 21px;
                    }

                    h3 {
                        margin-bottom: 8px;
                    }

                    .rate {
                        margin-top: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .certificates {
        margin-top: 120px;
        margin-bottom: 200px;

        .items {
            .item {
                img {
                    width: 100%;
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}