#about_me {
    .hero {
        .image {
            img {
                border-radius: 8px;
                transition: all 0.3s;

                &:hover {
                    filter: saturate(200%) sepia(1);
                }
            }
        }

        .info {
            header {
                margin-bottom: 42px;
                margin-top: 10px;
            }

            h2 {
                color: $gray;
                margin-bottom: 16px;
            }

            p {
                max-width: 560px;
                color: $gray;
            }

            .items {
                margin-top: 30px;
                margin-bottom: 48px;

                .item {
                    display: flex;
                    margin-bottom: 16px;

                    .value {
                        color: $gray;
                        margin-left: 4px;
                    }
                }
            }

            .buttons {
                display: flex;

                a:first-child {
                    margin-right: 24px;
                }
            }
        }
    }
}