/* CSS Animations using Keyframes */

/* Animation for the "rain" effect */
@keyframes rain {
    0% {
        transform: translate(300px, -300px);
        opacity: 1;
    }

    15% {
        transform: translate(-300px, 300px);
        opacity: 0;
    }
}

/* Animation for the "slideIn" effect */
@keyframes slideIn {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

/* Animation for the "scaleUp" effect */
@keyframes scaleUp {
    0% {
        transform: scale(0) rotate(20deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Animation for the "scaleUpAndRotate" effect */
@keyframes scaleUpAndRotate {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(45deg);
    }
}

/* CSS class to apply the "slideIn" animation */
.slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
}

/* CSS class to apply the "scaleUp" animation */
.scaleUp {
    animation: slideIn 1s ease-in-out forwards;
}

/* CSS class to apply the "scaleUpAndRotate" animation */
.scaleUpAndRotate {
    animation: scauleUpAndRotate 1s ease-in-out forwards;
}
