/* Color Variables */
$primaryColor: #658DF2;         /* Primary brand color */
$secondaryColor: #1E1E20;       /* Secondary background color */
$backgroundColor: #0f0f0f;      /* Overall background color */
$grayColor: #B6B7BA;            /* Standard gray text color */
$secondaryGrayColor: #808185;   /* Secondary gray color */
$whiteColor: #FFFFFF;           /* White color for elements */
$blackColor: #000000;           /* Black color for elements */
