/* Styles for the Contact Me section */

#contact_me {
    /* Set a background image with specific properties */
    background-image: url(../Images/Graphics/Background-shape.png);
    background-repeat: no-repeat;
    background-position: 53vw 574px;
    min-height: 100vh;

    /* Styles for the container within Contact Me */
    .container {
        /* Center-align text content */
        .text-center {
            padding-bottom: 100px;
        }

        /* Styles for the contact form */
        .form {
            padding-right: 69px;

            /* Styles for form items */
            .form-item {
                position: relative;
                margin-bottom: 32px;

                /* Focus state styles */
                &.focus {
                    label {
                        top: -3px;
                        font-size: 12px;
                    }

                    &:after {
                        width: 100%;
                    }
                }

                /* Styles for form item lines */
                &:before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $secondaryGrayColor;
                    bottom: 0;
                    left: 0;
                }

                /* Styles for form item lines (on focus) */
                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0;
                    background: #fff;
                    bottom: 0;
                    left: 0;
                    transition: all 0.3s;
                }

                /* Styles for form item labels */
                label {
                    position: absolute;
                    top: 17px;
                    color: $secondaryGrayColor;
                    transition: all 0.3s;
                }

                /* Styles for input and textarea elements */
                input,
                textarea {
                    width: 100%;
                    background: transparent;
                    outline: none;
                    border: none;
                    padding: 16px 0;
                }

                /* Styles for textarea */
                textarea {
                    resize: none;
                    min-height: 171px;
                }
            }
        }

        /* Styles for contact information */
        .info {
            padding-top: 32px;
            padding-left: 69px;

            /* Styles for individual contact items */
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                /* Hover effect for contact items */
                &:hover {
                    i {
                        background: $primaryColor;
                    }
                }

                /* Styles for contact icons */
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    width: 46px;
                    height: 46px;
                    background: rgba(#ffffff, 0.05);
                    border-radius: 50%;
                    font-size: 18px;
                    margin-right: 16px;
                    transition: all 0.3s;
                }

                /* Styles for contact text content */
                .text {
                    /* Styles for contact item titles */
                    .title {
                        color: $grayColor;
                    }

                    /* Styles for contact links */
                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
