/* Styles for the Home section */
#home {
    /* Set a background image with specific properties */
    background:
        url("../Images/Graphics/Background-clouds-1.png") no-repeat 10vh -15vh;

    /* Styles for the header with class 'has-background' */
    header.has-background {
        margin-bottom: 32px;
    }

    /* Styles for the information section */
    .info {
        padding-top: 280px;

        /* Styles for the circular profile image */
        img.person-circle {
            margin-bottom: 24px;
        }

        /* Styles for the main heading */
        h1 {
            margin-bottom: 24px;

            /* Styles for the gray-colored span within the heading */
            span {
                color: $grayColor;
            }
        }

        /* Styles for individual field items */
        .field {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            /* Styles for the field title */
            h2 {
                color: $grayColor;
                margin: 0;
            }

            /* Styles for the field value */
            span {
                font-size: 21px;
                margin-left: 2px;
            }
        }

        /* Styles for paragraph text */
        p {
            max-width: 430px;
            margin-bottom: 74px;
        }

        /* Styles for social media links section */
        .socials {
            margin-top: 130px;
            margin-bottom: 24px;

            /* Styles for the list of social media links */
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;

                /* Styles for individual social media items */
                li {
                    margin-right: 8px;

                    /* Styles for social media link anchors */
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        padding: 9px 11px;
                        transition: all 0.3s;

                        /* Hover styles for social media links */
                        &:hover {
                            background: rgba($primaryColor, 0.8);
                            border-radius: 6px;

                            /* Color changes on hover */
                            span,
                            i {
                                color: #fff;
                            }
                        }

                        /* Styles for the social media icon */
                        i {
                            font-size: 18px;
                            margin-right: 8px;
                            color: $grayColor;
                            transition: all 0.3s;
                        }

                        /* Styles for the social media link text */
                        span {
                            color: $secondaryGrayColor;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }

    /* Styles for the image section */
    .image {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        /* Styles for the image within the section */
        img {
            border-radius: 8px;
            max-width: 100%;
            transition: all 0.3s;

            /* Hover effect on the image */
            &:hover {
                transform: scale(1.03);
                filter: saturate(200%) sepia(1);
            }
        }
    }
}
