/* Styles for the My Resume section */
#my_resume {
    margin-bottom: 125px;
    /* Set a background image with specific properties */
    background-image: url(../Images/Graphics/Background-shape.png);
    background-repeat: no-repeat;
    background-position: 42vw 31vh;

    /* Styles for the header with class 'has-bg' */
    header.has-bg {
        margin-bottom: 64px;
    }

    /* Styles for the education and experience sections */
    .education, .experience {
        /* Styles for the "custom" class within education and experience */
        .custom {
            /* Styles for the "h2" element within "custom" */
            h2 {
                transition: all 0.3s;

                /* Styles for the "i" element within "h2" */
                i {
                    margin-left: 20px;
                    margin-right: -5px;
                    font-size: 30px;
                    padding-top: 9px;
                    padding-left: 1px;
                    padding-right: 1px;
                    font-size: 24px;
                    background: rgba(#ffffff, 0.05);
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                    flex-shrink: 0;
                    transition: all 0.3s;
                }
            }

            /* Hover effect for section before */
            &:before {
                transition: all 0.3s;
            }

            /* Hover effect for section after */
            &:after {
                transition: all 0.3s;
            }

            /* Hover effect for section icons */
            &:hover {
                h2 {
                    color: $primaryColor;
                }

                &:before, &:after, i {
                    background: $primaryColor;
                }
            }
        }
    }

    /* Styles for the items within education and experience */
    .items {
        /* Styles for individual item elements */
        .item {
            display: flex;

            /* Margin between items, except for the last one */
            &:not(:last-child) {
                margin-bottom: 42px;
            }

            /* Styles for the last item */
            &.last {
                /* Color changes for specific elements */
                .icon i,
                .box .title {
                    color: $primaryColor;
                }
            }

            /* Hover styles for items */
            &:hover {
                .icon,
                .icon:before {
                    background: rgba(darken($primaryColor, 40%), 0.4);
                }

                .box {
                    background: transparent;

                    /* Styles for box elements before and after */
                    &:before {
                        border-right-color: rgba(darken($primaryColor, 40%), 0.4);
                    }

                    &:after {
                        width: 100%;
                    }
                }
            }

            /* Styles for the icon within an item */
            .icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFFFFF0D;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                font-size: 18px;
                margin-right: 46px;
                margin-top: 23px;
                transition: all 0.3s;

                /* Styles for a line before the icon */
                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 126px;
                    background: $secondaryColor;
                    top: 82px;
                    transition: all 0.3s;
                }
            }

            /* Styles for the box within an item */
            .box {
                position: relative;
                padding: 32px;
                background: rgba($secondaryColor, 0.75);
                border-radius: 8px;
                text-align: left;
                z-index: 1;
                flex-grow: 1;
                transition: all 0.3s;

                /* Styles for elements before and after the box */
                &:before {
                    content: "";
                    position: absolute;
                    border-right: 9px solid rgba($secondaryColor, 0.75);
                    border-top: 9px solid transparent;
                    border-bottom: 9px solid transparent;
                    left: -9px;
                    top: 36px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 8px;
                    background: rgba(darken($primaryColor, 40%), 0.4);
                    z-index: -1;
                    transition: all 0.3s;
                }

                /* Styles for the year, title, and description within the box */
                .year {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 16px;
                }

                .title {
                    margin-bottom: 16px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: $grayColor;
                    max-width: 345px;
                }
            }
        }
    }

    /* Styles for the education section */
    .education {
        padding-right: 34px;
    }

    /* Styles for the experience section */
    .experience {
        padding-left: 34px;
    }
}
