/* Styles for the My Work section */
#my_work {
    margin-bottom: 100px;

    /* Apply a blur filter when the section has the "blur" class */
    &.blur {
        filter: blur(2px);
    }

    /* Styles for the filter buttons section */
    .filters {
        text-align: center;
        margin-top: 81px;
        margin-bottom: 55px;

        /* Styles for filter buttons */
        button {
            background: transparent;
            color: $secondaryGrayColor;
            border: none;
            padding: 8px 16px;
            margin-right: 8px;
            margin-left: 8px;
            margin-bottom: 16px;
            transition: all 0.3s;

            &:hover {
                color: rgba($whiteColor, 0.6);
                background: rgba($secondaryColor, 0.6);
                border-radius: 8px;
            }

            /* Styles for the active filter button */
            &.active {
                color: #fff;
                background: $secondaryColor;
                border-radius: 8px;
            }
        }
    }

    /* Styles for the work items section */
    .work-items {
        /* Styles for individual work item elements */
        .item {
            margin-bottom: 24px;

            /* Styles for the item container */
            .wrap {
                position: relative;
                overflow: hidden;

                /* Hover effect on work items */
                &:hover {
                    /* Styles for the "before" pseudo-element */
                    &:before {
                        transform: rotate(0deg);
                    }

                    /* Styles for the "after" pseudo-element */
                    &:after {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                }

                /* Styles for the "before" pseudo-element */
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba($primaryColor, 0.6);
                    border-radius: 8px;
                    z-index: 1;
                    cursor: pointer;
                    transform: rotate(-100deg);
                    transform-origin: top left;
                    transition: all 0.3s;
                }

                /* Styles for the "after" pseudo-element */
                &:after {
                    content: "View";
                    position: absolute;
                    width: 96%;
                    height: 95%;
                    background: rgba($backgroundColor, 0.8);
                    border-radius: 8px;
                    transform-origin: bottom left;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(100deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    letter-spacing: 3px;
                    z-index: 2;
                    cursor: pointer;
                    transition: all 0.3s;
                }

                /* Styles for the work item image */
                img {
                    width: 100%;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Styles for the work modal */
.modal#workModal {
    .modal-dialog {
        max-width: 863px;

        .modal-content {
            background: $secondaryColor;
            padding: 32px;

            .modal-body {
                padding: 0;
                position: static;

                /* Styles for the close button in the modal */
                .modal-close-button {
                    position: absolute;
                    right: -23px;
                    top: -23px;
                    background: $backgroundColor;
                    font-size: 22px;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    border: none;
                    transition: all 0.3s;

                    &:hover {
                        background: darken($primaryColor, 40%);
                    }
                }

                /* Styles for images within the modal */
                img {
                    width: 100%;
                    height: 532px;
                    object-fit: cover;
                    border-radius: 8px;
                }

                /* Styles for the left content within the modal */
                .left {
                    padding-left: 0;
                    padding-right: 32px;

                    h2 {
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }

                    p {
                        color: $grayColor;
                    }
                }

                /* Styles for the right content within the modal */
                .right {
                    padding-right: 0;
                    padding-left: 32px;
                    padding-top: 75px;

                    i {
                        width: 24px;
                        height: 24px;
                        margin-right: 5px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 3px;
                        padding-right: 3px;
                        border-radius: 100%;
                        flex-shrink: 0;
                        transition: all 0.3s;
                        font-size: 18px;
                        background: rgba(#ffffff, 0.05);
                    }

                    /* Styles for value text */
                    .value {
                        color: $grayColor;
                    }

                    /* Styles for project links */
                    .project-link {
                        margin-top: 16px;

                        /* Styles for links and icons */
                        a,
                        i {
                            color: $whiteColor;
                            text-decoration: none;
                        }

                        /* Hover effect on links */
                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    .client, .completed, .skills, .project-link {
                        &:hover {
                            i {
                                background: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
