/* Media query for screens with a minimum width of 1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1200px; /* Set max-width for the container */
    }
}

/* Media query for screens with a maximum width of 1199px */
@media (max-width: 1199px) {
    /* Styles for the About Me section */
    #about_me {
        /* Adjust styles for elements within the "languages" and "key-skills" sections */
        .languages .key-skills {
            .item {
                padding-right: 12px;
            }
        }

        /* Styles for the hero section */
        .hero {
            .info {
                padding-left: 48px;
            }

            .container {
                padding-bottom: -40px; /* Negative padding for container */
                margin-bottom: -40px; /* Negative margin for container */
            }

            /* Styles for buttons within the hero section */
            .buttons {
                a:first-child {
                    margin-top: 16px;
                }

                a:last-child {
                    margin-top: 16px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    /* Styles for the My Resume section */
    #my_resume {
        /* Adjust margin for the .experience section */
        .experience {
            margin-top: 100px;
        }
    }

    /* Styles for the Contact Me section */
    #contact_me {
        .container {
            /* Adjust padding for the .form section */
            .form {
                padding-right: 12px;
            }

            /* Adjust padding for the .info section */
            .info {
                padding-left: 12px;
            }
        }
    }
}

/* Media query for screens with a maximum width of 991px */
@media (max-width: 991px) {
    /* Styles for the Home section */
    #home {
        /* Adjust styles for the .image section */
        .image {
            justify-content: flex-start;
            height: unset;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        /* Adjust styles for the .info section */
        .info {
            /* Adjust margin for the .socials section */
            .socials {
                margin-top: 100px
            }
        }
    }

    /* Styles for the About Me section */
    #about_me {
        .hero {
            /* Adjust styles for the .image section */
            .image {
                img {
                    margin-left: -10px;
                }
            }

            /* Adjust padding for the .info section */
            .info {
                padding-left: 0px;
            }
        }

        /* Adjust margin for the .key-skills and .languages sections */
        .container {
            /* Adjust margin for the row section */
            .row {
                margin-bottom: 0px;

                /* Adjust margin for the .skills section */
                .skills {
                    /* Adjust margin for the .key-skills section */
                    .key-skills {
                        margin-top: 40px;
                        margin-bottom: 0px;
                    }
                }

                /* Adjust margin for the .languages-outer section */
                .languages-outer {
                    /* Adjust margin for the .languages section */
                    .languages {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
            }

            /* Adjust margin for the .tech-stack section */
            .row {
                margin-top: 0px;
            }
        }
    }

    /* Styles for the My Resume section */
    #my_resume {
        .experience {
            padding-left: 12px;
        }
    }

    /* Styles for the work modal */
    .modal#workModal .modal-dialog .modal-content .modal-body {
        /* Adjust padding for the .right section */
        .right {
            padding-left: 0px;
        }

        /* Adjust position for the close button in the modal */
        .modal-close-button {
            right: 10px;
            top: 10px;
        }
    }

    /* Styles for the Contact Me section */
    #contact_me {
        .container {
            .info {
                margin-top: 80px;
                margin-bottom: 100px;

                .item {
                    flex-direction: column;
                    text-align: center;
                    margin-bottom: 32px;

                    i {
                        margin-right: 0;
                        margin-bottom: 8px;
                    }

                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
    /* Styles for the Sidebar section */
    #sidebar {
        background: $backgroundColor;
        padding-right: 60px;
        transform: translateX(-100%);
        transition: all 0.3s;

        /* Styles for the sidebar when it's open */
        &.open {
            transform: translateX(0);
        }

        /* Styles for the toggle-sidebar section */
        .toggle-sidebar {
            display: flex;
        }

        /* Styles for the logo section */
        .logo {
            text-align: left;
        }

        nav ul li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                &.active {
                    &:before {
                        opacity: 0;
                    }
                }

                span {
                    display: block;
                    padding-left: 8px;
                }
            }

            > span {
                display: none;
            }
        }
    }

    /* Styles for heading elements */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        padding-left: 0;

        /* Adjust styles for the header image within a section with a background */
        > section header.has-bg img {
            left: -65px;
            top: 2px;
        }
    }

    /* Styles for the Home section */
    #home {
        background-image: unset;

        .info {
            padding-top: 80px;

            /* Adjust styles for the .socials section */
            .socials {
                margin-top: 70px;

                ul {
                    justify-content: space-between;
                }
            }
        }
    }

    /* Styles for the About Me section */
    #about_me {
        .hero .info .buttons {
            flex-direction: column;

            a {
                width: 100%;
                text-align: center;

                &:first-child {
                    margin-bottom: 16px;
                }
            }
        }

        /* Adjust styles for the .key-skills and .languages sections */
        .key-skills, .languages {
            .items {
                .item {
                    h3 {
                        padding-right: 16px;
                    }
                }
            }
        }
    }

    /* Styles for the My Resume section */
    #my_resume {
        .items {
            .item {
                position: relative;

                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -23px;
                    z-index: 2;
                    margin-top: 0;
                    background: rgba($secondaryColor, 0.75);

                    &:before {
                        display: none;
                    }
                }

                .box:before {
                    display: none;
                }
            }
        }

        /* Adjust padding for the .education and .experience sections */
        .education,
        .experience {
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    /* Styles for the work modal with id "workModal" */
    .modal#workModal {
        /* Adjust styles for the .modal-dialog section */
        .modal-dialog .modal-content .modal-body {
            /* Adjust height for images within the modal */
            img {
                height: unset;
            }

            /* Adjust padding for the left content within the modal */
            .left {
                padding-right: 0;
            }

            /* Adjust padding and margin for the right content within the modal */
            .right {
                padding-left: 0;
                padding-top: 32px;
            }
        }
    }
}
