/* Styles for the Sidebar */
#sidebar {
    position: fixed;
    height: 100vh;
    padding-right: 39px;
    padding-left: 39px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    /* Apply a blur filter when the sidebar has the "blur" class */
    &.blur {
        filter: blur(2px);
    }

    /* Styles for the toggle sidebar button */
    .toggle-sidebar {
        position: absolute;
        font-size: 30px;
        border-radius: 8px;
        width: 45px;
        height: 45px;
        background: $secondaryColor;
        display: none;
        justify-content: center;
        align-items: center;
        right: -45px;
    }

    /* Styles for the logo section within the sidebar */
    .logo {
        height: 20%;
        padding-top: 62px;
        text-align: center;
        
        img {
            transition: all 0.3s;
            &:hover {
                transform: scale(1.15);
            }
        }
    }

    /* Styles for the navigation section within the sidebar */
    nav {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                margin-bottom: 35px;

                /* Styles for navigation links */
                a {
                    position: relative;

                    /* Hover effect on navigation links */
                    &:hover {               
                        i {
                            color: $whiteColor;
                        }

                        +span {
                            opacity: 1;
                            left: 30px;
                        }
                    }

                    /* Styles for the "before" pseudo-element */
                    &:before {
                        content: "";
                        position: absolute;
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        background: $primaryColor;
                        opacity: 0;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: all 0.3s;
                    }

                    /* Styles for active navigation links */
                    &.active {
                        &:before {
                            opacity: 0.15;
                            transform: translate(-50%, -50%) scale(1);
                        }

                        i, span {
                            color: $primaryColor;
                        }
                    }

                    span {
                        display: none;
                    }

                    i {
                        font-size: 18px;
                        color: $grayColor;
                        transition: all 0.3s;
                    }
                }

                > span {
                    position: absolute;
                    white-space: nowrap;
                    top: -8px;
                    left: 20px;
                    padding: 7px 13px;
                    background: rgba($secondaryColor, 0.75);
                    border-radius: 6px;
                    opacity: 0;
                    transition: all 0.3s;
                }
            }
        }
    }

    /* Styles for the toggle mode section within the sidebar */
    .toggle-mode {
        height: 20%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 62px;

        /* Styles for the outer mode toggle button */
        .outer {
            width: 24px;
            height: 35px;
            background: $secondaryColor;
            border-radius: 24px;

            /* Styles for the inner mode toggle button */
            .inner {
                position: relative;
                width: 14px;
                height: 14px;
                background: $primaryColor;
                border-radius: 50%;
                margin-right: auto;
                margin-left: auto;
                margin-top: 16px;

                /* Styles for the before pseudo-element of the inner button */
                &:before {
                    position: absolute;
                    content: "";
                    width: 14px;
                    height: 14px;
                    background: $secondaryColor;
                    top: -4px;
                    left: 3px;
                    border-radius: 50%;
                }
            }
        }
    }
}
