main {
    padding-left: 102px;

    > section {
        display: none;
        padding-right: 114px;
        padding-left: 114px;

        &.active {
            display: block;
        }
    }
}