/* Styles for the Main content area */
main {
    /* Add left padding to the main content */
    padding-left: 102px;

    section:not(#home, #my_resume, #testimonial, .main-section) {
        /* Set a background image and configure its properties */
        background:
            url("../Images/Graphics/Background-clouds-1.png") no-repeat 60vw -20vh,
            url("../Images/Graphics/Background-clouds-2.png") no-repeat 110vh 80vh,
            url("../Images/Graphics/Background-clouds-3.png") no-repeat 70vh 325vh;
    }

    > section {
        /* Initially hide all sections */
        display: none;
        padding-right: 32px;
        padding-left: 32px;

        /* Add top padding to sections other than "home" */
        &:not(#home) {
            padding-top: 64px;
        }

        &.active {
            /* Display active section */
            display: block;

            /* Styles for sections with a background image header */
            header.has-bg {
                position: relative;
                display: inline-flex;
                transition: all 0.3s;

                &:hover {
                    color: $primaryColor;
                }

                /* Position the header image */
                img {
                    position: absolute;
                    top: 15px;
                    left: -72px;
                }
            }

            /* Styles for custom section headers */
            header.custom {
                position: relative;
                text-align: center;
                margin-bottom: 42px;
                transition: all 0.3s;

                &:hover {
                    color: $primaryColor;
                }

                /* Styles for the underline element */
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $secondaryColor;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
    
                /* Styles for the section title */
                h2 {
                    display: inline-block;
                    padding: 0 24px;
                    background: $backgroundColor;
                }
            }
        }
    }

    /* Styles for the rain animation */
    .rain {
        position: absolute;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        overflow: hidden;
        z-index: -1;

        /* Loop to create multiple rain elements with random properties */
        @for $i from 1 through 15 {
            .raindrop:nth-child(#{$i}) {
                position: absolute;
                background-image: url('../Images/Graphics/Raindrop.png');
                width: 60px;
                height: 49px;
                opacity: 0;
                top: #{random(80) + 'vh'};
                left: #{random(80) + 'vw'};
                animation: rain #{random(1000) + 3000 + 'ms'} linear infinite;
                animation-delay: #{random(5000) + 'ms'};
            }
        }
    }
}
