/* Styles for the Testimonial section */
#testimonial {
    /* Styles for the main section within the Testimonial section */
    .main-section {
        /* Styles for the images of individuals */
        .images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 6px;

            /* Styles for individual image elements */
            img {
                width: 68px;
                height: 68px;
                margin-right: 16px;
                margin-left: 16px;
                opacity: 0.5;
                border-radius: 50%;
                cursor: pointer;
                margin-bottom: 16px;
                transition: all 0.3s;

                /* Hover effect for images */
                &:hover {
                    opacity: 1;
                    transform: scale(1.15);
                    filter: saturate(150%) sepia(0.5);
                }

                /* Styles for the active image */
                &.active {
                    width: 90px;
                    height: 90px;
                    opacity: 1;
                }
            }
        }

        /* Styles for the comments section */
        .comments { 
            text-align: center;

            /* Styles for individual comment items */
            .item {
                display: none;

                /* Styles for active comment items */
                &.active {
                    display: inline-block;

                    /* Styles for the comment box */
                    .box {
                        margin-top: 20px;
                        position: relative;
                        background: lighten($secondaryColor, 4%);
                        padding: 32px;
                        border-radius: 8px;
                        transition: all 0.3s;

                        /* Styles for the triangle shape above the comment box */
                        &:before {
                            content: "";
                            position: absolute;
                            border-bottom: 9px solid lighten($secondaryColor, 4%);
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            top: -9px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        /* Styles for the comment text */
                        p {
                            font-family: 'Playfair Display', serif;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 42px;
                            max-width: 710px;
                            animation: scaleUp 1.25s;

                            /* Styles for a special span within the comment text */
                            span {
                                font-size: 86px;
                                color: $primaryColor;
                                line-height: 0;
                                vertical-align: -33px;
                            }
                        }

                        &:hover {
                            transform: scale(1.05);
                            background: rgba(darken($primaryColor, 40%), 0.4);

                            &:before {
                                border-bottom: 9px solid rgba(darken($primaryColor, 40%), 0.4);
                            }
                        }
                    }

                    /* Styles for the writer information */
                    .writer {
                        position: relative;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        flex-shrink: 0;
                        border-radius: 8px;
                        transition: all 0.3s;

                        /* Hover effect for the writer information */
                        &:hover {
                            transform: scale(1.05);
                            background: rgba(darken($primaryColor, 40%), 0.4);
                        }

                        /* Styles for individual fields in the writer information */
                        span.field {
                            color: $secondaryGrayColor;

                            /* Styles for quotes span within the writer information */
                            span.quotes {
                                font-family: 'Playfair Display', serif;
                                color: $primaryColor;
                                font-size: 32px;
                                line-height: 0;
                                vertical-align: -6px;
                            }

                            /* Styles for the company name within the writer information */
                            span.company-name {
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
